.element {
    text-size-adjust: 100%;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue","Source Sans Pro",sans-serif;
-webkit-box-direction: normal;
box-sizing: inherit;
border: 2px #5b434e solid;
line-height: 1.15;
text-align: center!important;
font-size: .75em;
width: 100%;
table-layout: fixed;

}
body {
text-size-adjust: 100%;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue","Source Sans Pro",sans-serif;
font-size: 16px;
color: #212121;
line-height: 1.15;
-webkit-box-direction: normal;
box-sizing: inherit;
padding-top: 1em;
padding-bottom: 3em;
margin-left: 200px;
width: 80%s;

}
h1 {
    margin-left: 200px;
}
html {
    background-color: linen
}
button {
    border: none;
    background: none;
}
.des {
    font-size: 10px;
    padding-left: 5px;
    font-style: italic;
    opacity: 200%;
    color: lightslategray;
}

.showtext {
    margin-left: 100px;
    display: inline;
}

.im {
    border-radius: 1mm;
    border-style: solid;
    border-color: lightgrey;

}

.showtexttext {
    margin-left: 0;
    font-style: italic;
    color: lightslategrey;
    font-size: 13px;
}
